.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}
.dropdown-toggle::after {
  display: none;
}
.text-cs {
  --bs-text-opacity: 1;
  color: white;
}
.text-cs:hover {
  animation-duration: 0.5s;
  color: red;
}
.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
  color: red;
}
.drop {
  cursor: default;
}
.dropdown-menu {
  --bs-dropdown-padding-y: 0rem;
  --bs-dropdown-bg: black;
  --bs-dropdown-color: white;
}
.dropdown-item {
  color: white;
  font-size: large;
}