.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}
.dropdown-toggle::after {
  display: none;
}
.text-cs {
  --bs-text-opacity: 1;
  color: white;
}
.text-cs:hover {
  animation-duration: 0.5s;
  color: red;
}
.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
  color: red;
}
.drop {
  cursor: default;
}
.dropdown-menu {
  --bs-dropdown-padding-y: 0rem;
  --bs-dropdown-bg: black;
  --bs-dropdown-color: white;
}
.dropdown-item {
  color: white;
  font-size: larger;
  padding: 15px 40px;
}
.dropdown-item:hover {
  background-color: rgb(255, 230, 230);
  color: rgb(255, 0, 0);
}
.mayhem-img {
  margin-top: 50px;
}
.navbar-toggler-icon {
  background-image: url(img/icons8-menu-50.png);
}
@media only screen and (max-width:991px){
  .nav {
    flex-direction: column;
  }
}
  @media only screen and (min-width:992px){
    .mayhem-img {
      max-width: 1000px;
    }
  }
